# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.db
.env

# Node
node_modules/
.next/
out/
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.log
.vercel
